.landingTab {
  background-color: #121212;
  min-height: 100vh;
}

.landerClipDiv {
  position: absolute;
  width: 100%;
  aspect-ratio: 2360 / 1640;
  clip-path: polygon(0% 0%, 100% 0%, 100% 200%, 0% 200%);
  overflow: clip;
 }

 .blueBorder2 {
  margin-top: -0.5%;
  position: absolute;
  width: 100vw;
  left: 0;
  scale: -1;
}

 .landingSite {
  position: absolute;
  width: 100%;
  left: 0;
}

.landingRocket {
  position: absolute;
  width: 10%;
  animation: landingRocket linear both;
  animation-timeline: scroll();
  animation-range-start: 82%;
  animation-range-end: 91%;
}

@keyframes landingRocket {
  0% {
    transform: translate(-700%, 50%) rotate(85deg) scale(3);
  }
  15% {
    transform: translate(-200%, 50%) rotate(35deg) scale(3.5);
  }
  23% {
    transform: translate(75%, 85%) rotate(-20deg) scale(3.8);
  }
  30% {
    transform: translate(100%, 100%) rotate(-25deg) scale(4);
  }
  38% {
    transform: translate(0%, 150%) rotate(0deg) scale(4.5);
  }
  43% {
    transform: translate(-75%, 180%) rotate(10deg) scale(4.8);
  }
  50% {
    transform: translate(-100%, 200%) rotate(15deg) scale(5);
  }
  90% {
    transform: translate(-30%, 310%) rotate(0deg) scale(5);
  }
  95% {
    transform: translate(-30%, 320%) rotate(0deg) scale(5);
  }
  100% {
    transform: translate(-30%, 350%) rotate(0deg) scale(5);
  }
}

.landingFire {
  position: absolute;
  width: 10%;
  animation: landingFire linear both;
  animation-timeline: scroll();
  animation-range-start: 82%;
  animation-range-end: 91%;
}

@keyframes landingFire {
  0% {
    transform: translate(-700%, 50%) rotate(85deg) scale(3);
  }
  15% {
    transform: translate(-200%, 50%) rotate(35deg) scale(3.5);
  }
  23% {
    transform: translate(75%, 85%) rotate(-20deg) scale(3.8);
  }
  30% {
    transform: translate(100%, 100%) rotate(-25deg) scale(4);
  }
  38% {
    transform: translate(0%, 150%) rotate(0deg) scale(4.5);
  }
  43% {
    transform: translate(-75%, 180%) rotate(10deg) scale(4.8);
  }
  50% {
    transform: translate(-100%, 200%) rotate(15deg) scale(5);
  }
  90% {
    transform: translate(-30%, 310%) rotate(0deg) scale(5);
  }
  95% {
    transform: translate(-32%, 368%) rotate(0deg) scale(1);
  }
  100% {
    transform: translate(-35%, 410%) rotate(0deg) scale(0);
  }
}

.landingShadow {
  position: absolute;
  width: 10%;
  animation: landingShadow linear both;
  animation-timeline: scroll();
  animation-range-start: 82%;
  animation-range-end: 91%;
}

@keyframes landingShadow {
  0% {
    transform: translate(-130%, 1260%) rotate(0deg) scale(3);
  }
  90% {
    transform: translate(-130%, 1260%) rotate(0deg) scale(3);
  }
  95% {
    transform: translate(-130%, 1270%) rotate(0deg) scale(3);
  }
  100% {
    transform: translate(-130%, 1310%) rotate(0deg) scale(3);
  }
}