.originTab {
  background-color: #294d16;
  aspect-ratio: 1/1;
}

.originTitle {
  font-size: 5vw;
  color: #c2eb00;
  text-align: left;
  font-family: Futura;
  font-weight: bold;
  margin-top: 3%;
}

.rightOriginCircle {
  background-color: #c2eb00;
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: 12%;
  margin: 6% 4% 6% 2%;
}

.originBorder {
  position: relative;
  border: solid;
  border-color: #c2eb00;
  border-width: 0 0 3px 0;
  margin: 0 50px 0 50px;
}

.originFlex {
  display: flex;
  flex-direction: row;
  margin: 0 7.5% 0 7.5%;
  position: absolute;
}

.originTextBoxHolder {
  width: 50%;
}

.originTextBox {
  margin: 20% 0 0 60%;
  padding: 25px;
  background-color: #c4eb00bd;
  border-radius: 30px;
  transition: transform 0.15s ease-in-out;
}

.originTextBox:hover {
  transform: scale(1.1);
  background-color: #c4eb00;
}

.oregon {
  position: absolute;
  width: 100%;
  left: 0;
}

.blackbear {
  position: absolute;
  width: 20%;
  margin-top: 65%;
  margin-left: -30%;
  transition: transform 0.15s ease-in-out;
  z-index: 1;
}

.blackbear:hover {
  transform: scale(1.1);
}

.yellowBorder {
  margin-top: -0.1%;
  position: relative;
  width: 100vw;
  left: 0;
}

.blueBorder {
  margin-top: 93.5%;
  position: absolute;
  width: 100vw;
  left: 0;
}

.originRocket {
  position: absolute;
  width: 10%;
  animation: moveOriginRocket linear both;
  animation-timeline: scroll();
  animation-range-start: 50%;
  animation-range-end: 60%;
}

@keyframes moveOriginRocket {
  0% {
    transform: translate(-300%, -100%) rotate(135deg) scale(1);
  }
  20% {
    transform: translate(-200%, -50%) rotate(120deg) scale(1);
  }
  40% {
    transform: translate(-100%, 0%) rotate(105deg) scale(1.5);
  }
  60% {
    transform: translate(100%, 10%) rotate(90deg) scale(1.75);
  }
  80% {
    transform: translate(300%, 0%) rotate(75deg) scale(2);
  }
  100% {
    transform: translate(600%, -37%) rotate(60deg) scale(2);
  }
}