.workTab {
  background-color: #bc598f;
  min-height: 45vh;
}

.workTitle {
  font-size: 5vw;
  color: #993a3a;
  text-align: left;
  font-family: Futura;
  font-weight: bold;
  float: left;
  margin-top: 3%;
}

.workCircle {
  background-color: #993a3a;
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: 12%;
  margin: 6% 2% 6% 2%;
}

.rightWorkCircle {
  background-color: #993a3a;
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: 12%;
  margin: 6% 4% 6% 2%;
}

.workBorder {
  border: solid;
  border-color: #993a3a;
  border-width: 0 0 3px 0;
  margin: 0 50px 0 50px;
}

.workTextBox {
  margin: 5% 55% 5% 0;
  padding: 25px;
  width: 50%;
  background-color: #993a3a;
  border-radius: 30px;
  min-height: 300px;
  transition: transform 0.15s ease-in-out;
}

.workTextBox:hover {
  transform: scale(1.1);
}

.pipeworks {
  position: absolute;
  margin-left: 55%;
  max-height: 45%;
  max-width: 30%;
  transition: transform 0.15s ease-in-out;
}

.pipeworks:hover {
  transform: scale(1.1);
}